<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <title>About - Rocky Mountain Rescue Group</title>
  <style>
    .content-container {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  </style>
</head>

<body>
  <div class="container is-max-desktop" style="padding-top: 2rem; padding-bottom: 2rem; display: flex; align-items: center;">
    <figure class="image is-64x64" style="margin-right: 1rem;">
      <img alt="RMRG Logo" src="https://images.squarespace-cdn.com/content/v1/552e8f43e4b07f0b3920027b/1433803832701-9PJFTH54ZQEHWCLINRI3/image-asset.png?format=300w">
    </figure>
    <h1 class="title">Rocky Mountain Rescue Group</h1>
  </div>
  <nav class="navbar is-light" role="navigation" aria-label="main navigation" style="outline: 2px solid #8a8a8a;">
    <div class="container is-max-desktop">
      <div id="navbar-menu" class="navbar-menu">
        <div class="navbar-start">
          <a tabindex="0" class="navbar-item" href="#">
            Home
          </a>
          <div class="navbar-item has-dropdown is-hoverable" >
            <a tabindex="0" class="navbar-link">
              About
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="#">
                What's New
              </a>
              <a class="navbar-item" href="#">
                History Blog
              </a>
              <a class="navbar-item" href="#">
                Mission Statistics
              </a>
              <a class="navbar-item" href="#">
                R & D
              </a>
              <a class="navbar-item" href="#">
                Leadership
              </a>
              <a class="navbar-item" href="#">
                Contact
              </a>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a tabindex="0" class="navbar-link">
              Resources
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="#">
                Resource Links
              </a>
              <a class="navbar-item" href="#">
                Publications and Newsletters
              </a>
              <a class="navbar-item" href="#">
                Media & Logo
              </a>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a tabindex="0" class="navbar-link">
              Outdoor Safety
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="#">
                For Hikers
              </a>
              <a class="navbar-item" href="#">
                For Climbers
              </a>
              <a class="navbar-item" href="#">
                For Winter Travel
              </a>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a tabindex="0" class="navbar-link">
              Get Involved
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="#" >
                Calendar
              </a>
              <a class="navbar-item" href="#">
                Membership
              </a>
              <a class="navbar-item" href="#">
                Membership Levels
              </a>
            </div>
          </div>
          <a class="navbar-item" href="#">
            Donate
          </a>
        </div>
      </div>
    </div>
  </nav>
  <div class="container is-max-desktop content-container">
    <h1 class="title has-text-centered">About</h1>
    <p class="subtitle has-text-centered">ROCKY MOUNTAIN RESCUE GROUP IS AN ALL-VOLUNTEER ORGANIZATION TRAINED AND
      EQUIPPED FOR ALL WEATHER SEARCH AND RESCUE ON MOUNTAINOUS TERRAIN.</p>
    <p>Founded in 1947, we are one of the oldest and most experienced mountain rescue teams in the country, and also one
      of the busiest. We are contracted by the Boulder County Sheriff's Office as the county's primary mountain rescue
      agency, but upon request we also assist other mountain rescue teams outside the county. RMRG is a fully certified
      and accredited, non-profit IRS 501(c)3 organization and we do not charge for our services.
      <br></br>
      Each year RMRG receives about 200 calls for emergency assistance (see our call statistics for more detail). Some
      incidents resolve themselves, but most involve fielding rescuers. The nature of calls for rescue are diverse and
      range from hikers with sprained ankles, to fallen climbers, to avalanches, to downed aircraft. Operating under the
      Incident Command System (ICS), rescuers find missing parties and evacuate injured persons. RMRG is also trained to
      assist in natural disasters such as floods and snow storms. For any large incident we can provide logistical
      expertise, incident management, and radio communication services.
      <br></br>
      Outdoor Safety Education RMRG promotes safety in mountain recreation and provides outdoor safety education
      programs for schools, businesses, and community organizations.

      Training RMRG members have extensive and continuous training in mountain search and rescue techniques. We are a
      fully accredited member team of the Mountain Rescue Association (MRA), a U.S. organization of over 90 member
      teams. Twelve MRA teams in Colorado provide mutual assistance to each other upon request. RMRG exceeds
      requirements for FEMA/NIMS Type I Mountain SAR and Wilderness SAR resource types, and exceeds NFPA 1670, 1006 and
      ASTM F2209. RMRG has an extensive equipment R&D program to ensure we have the best and safest mountain rescue
      equipment and techniques available.
    </p>
    <figure class="image" style="max-width: 35rem; margin-top: 1rem;">
      <img
        src="https://images.squarespace-cdn.com/content/v1/552e8f43e4b07f0b3920027b/1431313232066-VKW6TMCFAYUMXBNK7G1F/RMRG-Mountain-Rescue-Vehicle-Boulder?format=1000w"
        alt="" style="border-radius: 1rem;">
    </figure>
    <h2 class="title is-4" style="margin-top: 1rem;">Why are we so busy?</h2>
    <div style="display: flex; align-items: center;">
      <p>Outdoor recreation is popular in Boulder County. There are 200 miles of foothills trails and 110,000 acres of
        open space, including the Flatirons and Eldorado Canyon State Park. The Continental Divide forms our western
        border, overlooking 136 miles of trails and 160,000 acres of the Roosevelt National Forest and Indian Peaks
        Wilderness. Rocky Mountain National Park is in the northwest corner of the county. These spectacular and
        inviting
        outdoor recreational opportunities increase the chances for wilderness accidents and for getting lost, and
        create
        a need to educate the public in safe outdoor practices.</p>
      <figure class="image" style="max-width: 15rem; min-width: 7rem; margin-left: 1rem;">
        <img
          src="https://images.squarespace-cdn.com/content/v1/552e8f43e4b07f0b3920027b/1450759321761-3PE2NCYUONCKFP75ONXE/BCSO-logo.jpg?format=300w"
          alt="Boulder County Sheriff's Office Logo">
      </figure>
    </div>


    <h2 class="title is-4" style="margin-top: 1rem;">University of Colorado at Boulder</h2>
    <!-- TODO -->
    <div style="display: flex; align-items: center;">
      <p>RMRG has a long history with the University of Colorado at Boulder (CU). The founders of RMRG included CU
        faculty and students, creating RMRG in part at the request of the president of CU. In addition to RMRG being a
        non-profit corporation, RMRG has been a University of Colorado student organization for more than 40 years. </p>
      <figure class="image" style="max-width: 15rem; min-width: 5rem; margin-left: 1rem;">
        <img
          src="https://images.squarespace-cdn.com/content/v1/552e8f43e4b07f0b3920027b/1450771477973-RMFSUXEIVQMEUM5V6P7J/image-asset.png?format=300w"
          alt="CU Boulder logo">
      </figure>
    </div>
  </div>
</body>

</html>