<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <title>Navbar Example</title>
</head>

<body>
  
  <div class="container is-max-desktop" style="padding-top: 2rem; padding-bottom: 2rem; display: flex; align-items: center;">
    <figure class="image is-64x64" style="margin-right: 1rem;">
      <img alt="RMRG Logo" src="https://images.squarespace-cdn.com/content/v1/552e8f43e4b07f0b3920027b/1433803832701-9PJFTH54ZQEHWCLINRI3/image-asset.png?format=300w">
    </figure>
    <h1 class="title">Rocky Mountain Rescue Group</h1>
  </div>
  <nav class="navbar is-light" role="navigation" aria-label="main navigation" style="outline: 2px solid #8a8a8a;">
    <div class="container is-max-desktop">
      <div id="navbar-menu" class="navbar-menu">
        <div class="navbar-start">
          <a tabindex="0" class="navbar-item" href="#">
            Home
          </a>
          <div class="navbar-item has-dropdown is-hoverable" >
            <a tabindex="0" class="navbar-link">
              About
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="#">
                What's New
              </a>
              <a class="navbar-item" href="#">
                History Blog
              </a>
              <a class="navbar-item" href="#">
                Mission Statistics
              </a>
              <a class="navbar-item" href="#">
                R & D
              </a>
              <a class="navbar-item" href="#">
                Leadership
              </a>
              <a class="navbar-item" href="#">
                Contact
              </a>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a tabindex="0" class="navbar-link">
              Resources
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="#">
                Resource Links
              </a>
              <a class="navbar-item" href="#">
                Publications and Newsletters
              </a>
              <a class="navbar-item" href="#">
                Media & Logo
              </a>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a tabindex="0" class="navbar-link">
              Outdoor Safety
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="#">
                For Hikers
              </a>
              <a class="navbar-item" href="#">
                For Climbers
              </a>
              <a class="navbar-item" href="#">
                For Winter Travel
              </a>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a tabindex="0" class="navbar-link">
              Get Involved
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="#" >
                Calendar
              </a>
              <a class="navbar-item" href="#">
                Membership
              </a>
              <a class="navbar-item" href="#">
                Membership Levels
              </a>
            </div>
          </div>
          <a class="navbar-item" href="#">
            Donate
          </a>
        </div>
      </div>
    </div>
  </nav>
</body>

</html>
